{% extends "lectures/base.html" %}
{% load static %}
{% block content %}
<head>
	<title>{{ lecture.name }}</title>
	<link rel="stylesheet" href="{% static 'css/courses/detail.css' %}">
</head>
<table style="width:100%">
	<tr>
		<th>Lecture ID</th>
		<th>Name</th>
		<th>Week</th>
		<th>Course</th>
		<th>URL</th>
	</tr>
	<tr>
		<th>{{ lecture.lecture_id }}</th>
		<th>{{ lecture.name }}</th>
		<th>{{ lecture.week }}</th>
		<th>{{ lecture.course }}</th>
		<th>{{ lecture.url }}</th>
	</tr>
</table>
<h2 style="margin-top:100px; text-align: center">Tasks related to {{ lecture.name }}</h2>
<table style="width:100%">
	{% if tasks %}
	{% for task in tasks %}
	<tr>
		<th>Task name</th>
		<th>Task Description</th>
		<th>Task Due Date</th>
	<tr>
		{% if task.lecture.name == lecture.name %}
		<th><a href="{% url 'education:tasks:detail' task.id %}">{{ task.name }}</th>
		<th>{{ task.description }}</th>
		<th>{{ task.due_date }}</th>
		{% endif %}
	</tr>
	{% endfor %}
	{% else %}
	<h2>There are still no tasks associated with this lecture.</h2>
	{% endif %}

</table>

{% endblock %}
